* {
	margin: 0;
	padding: 0;
}

.mobile-nav{
	width: 220px;
	height: 100%;
}
.nav_menu{
	background-color: royalblue;
	display: block;
	font-size: 16px;
	padding: 1em 5%;
	border-top: 1px solid #4f4f4f;
	border-bottom: 1px solid #292929;
	cursor: pointer;
	margin-left: -50px;
	text-align: center;
}
.menu{
	background-color: paleturquoise;
	display: block;
	font-size: 14px;
	padding: 1em 5%;
	border-top: 1px solid #4f4f4f;
	border-bottom: 1px solid #292929;
	cursor: pointer;
	margin-left: -50px;
	text-align: center;
}
li{
	list-style-type:none
}
a{
	color: white;
}
a:hover,
a:focus {
	text-decoration: none
}
.menu_one, .menu_two{
	display: none;
}
